# Ignore .bib file
*.bib -linguist-detectable

# Here Markdown is not documentation
*.md linguist-detectable
*.qmd linguist-detectable

# Associate Quarto with Markdown language
*.qmd linguist-language=Markdown
